#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.sudoku {
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-gap: 0.1em;
  margin: 0 auto;
  border: 0.1em solid #888;
  border-radius: 0.5em;
  box-shadow: 0 0 1em #888;
}

.sudoku .row {
  display: flex;
  flex-direction: row;
}

.cell input {
  width: 100%;
  height: 100%;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  border: none;
  background-color: transparent;
  color: black;
  -webkit-appearance: none;
  margin: 0;
}

button.solve {
  margin-top: 0.5em;
  padding: 0.5em 1em;
  font-size: 2em;
  font-weight: bold;
  color: #fff;
  background-color: #646cff;
  border: none;
  border-radius: 0.5em;
  box-shadow: 0 0 1em #888;
  cursor: pointer;
  margin-bottom: 2em;
}

.cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: 2em;
  font-weight: bold;
  color: #888;
  background-color: #fff;
  border: 0.1em solid #888;
  border-radius: 0.5em;
  box-shadow: 0 0 1em #888;
  width: 100px;
  height: 100px;
}

.inter {
  background-color: rgba(255, 255, 255, 0.7);
}

.valid {
  background-color: rgba(95, 255, 121, 0.7);
}

.inter.valid {
  background-color: rgba(0, 134, 22, 0.7);
}
